<section id="menu-container">
    
</section>

<section id="burger-container">
    <div id="burger-container-eaten">
        <h1>Eeten burgers:</h1>
        {{#each burgers}}
            {{#if eaten}}
                {{> burger-block}}
            {{/if}}
        {{/each}}
    </div>

    <div id="burger-container-uneaten">
        <h1>Uneaten burgers: </h1>
        {{#each burgers}}
            {{#unless eaten}}
                {{> burger-block}}
            {{/unless}}
        {{/each}}
    </div>
</section>