<section id="menu-container">
    <button class="menu-burger" onclick="addBurger(this)">
        <h2>Baby You Can Chive My Car Burger</h2>
        <hr>
        <h3>Cheeseburger with fried onions, chives, and sriracha mayonaise.</h3>
    </button>
    <button class="menu-burger" onclick="addBurger(this)">
        <h2>Cheeseburger</h2>
        <hr>
        <h3>A painfully normal cheeseburger.</h3>
    </button>
    <button class="menu-burger" onclick="addBurger(this)">
        <h2>Are We Gruyere Yet</h2>
        <hr>
        <h3>A chive my car burger with gruyere cheese, peppercorn, and little pickle wheels.</h3>
    </button>
    <button class="menu-burger" onclick="addBurger(this)">
        <h2>Let's Start Bacon Burger</h2>
        <hr>
        <h3>Bacon wrapped cheeseburger with extra bacon.</h3>
    </button>
</section>

<section id="burger-container">
    <h1 id="burger-title-uneaten">Ordered</h1>
    <h1 id="burger-title-eaten">Eaten</h1>
    <div id="burger-container-eaten">
        {{#each burgers}}
            {{#if eaten}}
                {{> burger-block}}
            {{/if}}
        {{/each}}
    </div>

    <div id="burger-container-uneaten">
        {{#each burgers}}
            {{#unless eaten}}
                {{> burger-block}}
            {{/unless}}
        {{/each}}
    </div>
</section>