// The formatting for each selector is as follows:
// Display > Style > Animation > Other > Children

@mixin font-caveat {
    font-family: 'Caveat', serif;
}

$clr-orange: #F6C654;
$clr-red: #C4281A;
$clr-lightgreen: #B7FF57;
$clr-blue: #53A7CF;
$clr-black: #081C29;
$clr-lighter-black: #264C5E;
$clr-white: #F5F7ED;

body {
    background-color: $clr-lighter-black;
}

h1 {
    font-size: 10vw;
    @include font-caveat;
    text-align: center;
}

#menu-container {
    // Display
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    // Style
    background-color: $clr-black;

    .menu-burger {
        // Display
        flex-grow: 1;

        width: 10%;
        height: 80%;
        margin: 0 1vw;

        // Style
        background-color: $clr-white;
        border-radius: 10% 10% 20% 20%;
        box-shadow: $clr-blue 3px 3px;

        // Children
        h2 {
            font-weight: 700;
            padding-bottom: 5px;
        }
    }
}

#burger-container {
    height: 80vh;
    display: grid;
    grid-template-columns: [uneaten] 1fr [eaten] 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    // Style
    background-color: $clr-lighter-black;

    h1#burger-title-uneaten {
        grid-row: 1;
        grid-column: uneaten;
        color: $clr-orange;
        // background-color: $clr-red;
    }

    h1#burger-title-eaten {
        grid-row: 1;
        grid-column: eaten;
        color: $clr-lightgreen;
        // background-color: $clr-lightgreen;
    }

    // Children
    .burger-card {
        display: flex;
        flex-direction: column;
        margin: 15px 0px;
        overflow: hidden;
        //
        background-color: $clr-white;
        border: black solid 2px;
        border-radius: inherit;
        box-shadow: $clr-blue 2px 2px;

        .burger-card-title {
            margin-bottom: 10px;
        }

        .burger-btn-eat {
            margin-left: -10%;
            width: 120%;
            height: 100%;
            border: 0;
            background-color: $clr-orange;
        }
        
        .burger-btns-wrapper {
            display: flex;
            margin-left: -5%;
            flex-basis: 20%;
            width: 110%;
            padding: 2px 0px;
            border: 0px;

            border-top: 2px solid $clr-black;
            justify-content: space-evenly;
            background-color: $clr-orange;
        }
    }
    
    #burger-container-eaten {
        padding: 0px 25%;
        position: relative;
        grid-column: eaten;
        grid-row: 2;
        // background-color: $clr-lightgreen;

    }
    
    #burger-container-uneaten {
        padding: 0px 25%;
        grid-column: uneaten;
        grid-row: 2;
        // background-color: $clr-red;
    }
}